color-reference {
    color: #97BFB4;
    color: #F5EEDC;
    color: #DD4A48;
    color: #4F091D;
}


body {
    background-color: #F5EEDC;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin:0px;
}

button {
    border-width: 1px;
    border-color: #7fa399;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 3em;
}

.calculator {
    background-color:#97BFB4;
    border-color: #7fa399;
    border-width: 1px;
    border-style: groove;
    border-radius: 10px;
    margin: 1em;
    width: 350px;
}

.screen-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen {
    width: 80vw;
    height: 175px;
    background-color: #F5EEDC;
    border-color: #7fa399;
    border-width: 1px;
    border-style: groove;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.top-screen {
    min-height: 75px;
    font-size: 20px;
    text-align: left;
}

.bottom-screen {
    min-height: 100px;
    font-size: 50px;
    text-align: right;
}

.clear-and-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clear {
    background-color:#4F091D;
    color:#F5EEDC;
}

.clear:hover {
    background-color: #440819;
}

.clear:active {
    background-color:#3b0716;
}

.delete {
    background-color:#DD4A48;
    color:#F5EEDC;
}


.delete:hover {
    background-color:#bb4240;
}

.delete:active {
    background-color:#9e3836;
}
.clear, .delete {
    width: 30vw;
    height: 90px;
    margin: 0.2em;
    border-radius: 10px;
    font-size: 2rem;
}

.row-1 button, .row-2 button, .row-3 button, .row-4 button {
    background-color: #F5EEDC;
    color: #4F091D;
    width: 90px;
    margin: 0.2em;
    border-radius: 10px;
    font-size: 3rem;
}

.row-1 button:hover, .row-2 button:hover, .row-3 button:hover, .row-4 button:hover {
    background-color: #D6D0C1;
}

.row-1 button:active, .row-2 button:active, .row-3 button:active, .row-4 button:active {
    background-color: #B8B3A5;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.footer {
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
